[submodule "docker/allwpilib"]
	path = docker/allwpilib
	url = https://github.com/wpilibsuite/allwpilib.git 
[submodule "docker/opencv"]
	path = docker/opencv
	url = https://github.com/opencv/opencv.git 
