[submodule "docker/allwpilib"]
	path = docker/allwpilib
	url = git@github.com:wpilibsuite/allwpilib.git
[submodule "docker/opencv"]
	path = docker/opencv
	url = git@github.com:opencv/opencv.git
[submodule "docker/json"]
	path = docker/json
	url = git@github.com:nlohmann/json.git
